.header {
  background: black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-link {
  color: #99a7ee;
  padding: 2px 3px 1px 3px;
  text-transform: uppercase;
  transition: .1s;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  border-right: 1px solid black;
}

.header div, .header nav {
  display: flex;
  align-items: center;
}

.header-primary {  
  background: #1D1E19;
  height: 50px;
  padding: 0 10px;

  flex-direction: row;
  justify-content: space-between;

}

.header-searchbar {
  width: 20%;
}

.header-logo {
  margin: 0 auto;
  position: relative;
  height: 100%;
  width: 202px;
  z-index: 1;
}

.header-logo-link {
  display: flex;
  align-items: center;  
  height: 100%;
}

.header-actions {
  width: 20%;
  justify-content: flex-end;
}

.header-nav {
  height: 34px;
  padding: 0 30%;

  align-content: center;
  justify-content: space-between;
}

.nav-link {
  display: inline-block;
  font-size: 12px;
}

.nav-link-box:hover > a {
  color: #F6F7EE;
  background-color: #39382F;
  border-right: 1px solid #F6F7EE;
}


/* TODO - for dropdown lists */
.nav-menu-sub {
  left: 36em;
  top: 5em;
  background: black;
  position: absolute;
  width: 120px;
  flex-direction: column;
  z-index: 1;

}

.nav-menu-sub div {
  width: 100%;
}

.nav-menu-sub-link { 
  /*nav-menu-sub-link*/
  display: block;
  width: 100%;
  padding: .3em .8em;
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;

}



/*For styling icons, etc. eventually. temporary!*/
.header-actions div {
  background: red;
}