* {
  /*overflow: hidden;*/
}
/*
.landing {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  font-family: 'menlo', Consolas, monospace;
}

.landing-background {
  background: linear-gradient(90deg,#222,#000);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.landing-container{
  color: #bbb;
  font-size: 16px;
  width: 60em;
  margin-left: -30em;
  transform-origin: 50% 0%;
  transition: transform 200ms;
  transform:  perspective(800px) rotateX(40deg) rotateY(-5deg) rotateZ(5deg);
  transform-style: preserve-3d;
  position: absolute;
  left: 50%;
}

.landing-overlay{
  background: linear-gradient(90deg, transparentize(#222, 0.5), transparentize(#000, 1)), rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.landing-layer{
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 50% 50vh;
}

.landing-col{
  position: relative;
  width: 49%;
  height: 40em;
  display: inline-block;
  box-sizing: border-box;
  padding-right: 2em;
  vertical-align: top;
  text-align: left;
}

.landing-content {
  position: absolute;
  top: 40%;
  width: 100%;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
}

.landing-content * {
  justify-content: center;
}

.landing-content-title{
  margin-bottom: 120px;
}

.landing-div{
  font-size: 16px;
  margin: 4px;
}

.landing-blue {
  color: #66D9EF;
  padding: 0 .6em;
}

.landing-red {
  color: #F92672;
  padding: 0 .6em;
}

.landing-input {
  background-color: transparent;
  // background-color: rgba(100, 100, 100, 0.5);
  border: none;
  border-bottom: solid 2px white;
  outline: none;
  width: 8em;
}*/