.snippet-select-language-box {
  height: 38px;
}

.snippet-language-select {
  background: #1D1E19;
  border: none;
  cursor: pointer;
  font-family: 'menlo', Consolas, monospace;
  font-size: 24px;
  -webkit-appearance: none;
  width: 188px;
}