.snippet-index {
  background: linear-gradient(#0d0e0c, black);
  color: #BBB;
  font-family: 'menlo', Consolas, monospace;
  height: 100%;
  width: 100%;
}

.snippet-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 1000px;
  margin: 0px auto;
  padding: 30px;
}

.snippet-header-large {
  color: white;
  font-size: 40px;
  font-weight: 700;
  margin: 6px 0;
}

.snippet-header-medium {
  color: #BBB;
  font-size: 24px;
  margin: 6px 0;
  height: 1em;
}

.snippet-header-text {
  color: #9A9A9A;
  display: flex;
  flex-direction: column;
  font-family: 'Futura';
  font-size: 14px;
  margin: 6px 0;
}

.snippet-img-box {
  border: 2px solid white;
  margin-bottom: 60px;
  height: 280px;
  width: 280px;
}

.snippet-img {
  height: 100%;
  width: 100%;
}

.snippet-col-left-pane {
  flex: 0 0 800px;
  max-width: 800px;
  margin: 20px 20px 20px 0px;
}

.snippet-col-right-pane {
  font-family: "Open Sans", Arial, sans-serif;

  flex: 0 0 360px;
  margin: 20px 0px 20px 20px;
}

.snippet-body {
  background: #1D1E19;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  margin: 20px 0;
  padding: 1.5em 1.5em 1.5em 1em;
}

.snippet-body-edit {
  background: #1D1E19;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  margin: 20px 0;
  padding: 1.5em 1.5em 1.5em 3.85em;
}

.snippet-body-line * {
  display: inline-block;
}

.line-number {
  color: #BBB;
  box-sizing: border-box;
  margin-right: .75em;
  text-align: right;
  vertical-align: top;
  width: 1.9em;
}

.line {
  max-width: 51.5em;
  padding: 0 .2em;
  word-wrap: break-word;
}

.annotated-line {
  background: #39382F;
  max-width: 700px;
  padding: 0 .2em;
  word-wrap: break-word;
}

.snippet-body-line:hover .annotated-line {
  background: rgba(255, 255, 100, 0.5);
}

.snippet-body-line:hover .line-number, .snippet-body-line:hover .line .annotation-link {
  color: #FFFF64;
}

.annotation-link {
  color: white;
}

.snippet-desc {
  width: 360px;
}
