.header {
  background: black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-link {
  padding: 2px 3px 1px 3px;
  font-size: 12px;
  text-transform: uppercase;
}

.header div, .header nav {
  display: flex;
  align-items: center;
}

.header-primary {  
  background: #1D1E19;
  height: 50px;
  padding: 0 10px;

  flex-direction: row;
  justify-content: space-between;
}

.header-searchbar {
  width: 20%;
}

.header-logo {
  margin: 0 auto;
  position: relative;
  height: 100%;
  width: 202px;
  z-index: 1;
}

.header-actions {
  flex: 0 0 225px;
  justify-content: center;
}

.header-actions:hover {
  cursor: pointer;
}

.user-profile-small {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 20px;
}

.search-dropdown {
  background: #1D1E19;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 15px;
  border: 2px solid red;
  padding: .5em;
  z-index: 1;
}

.header-dropdown {
  background: #1D1E19;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 15px;
  /*border: 2px solid red;*/
  padding: .5em;
  z-index: 1;
}

.dropdown-row {
  width: 100%;
  padding: .25em 1em;
}

.header-nav {
  height: 34px;
  padding: 0 30%;

  align-content: center;
  justify-content: center;
}

/* TODO - for dropdown lists */
.nav-menu-sub {
  left: 36em;
  top: 5em;
  background: black;
  position: absolute;
  width: 120px;
  flex-direction: column;
  z-index: 1;
}

.nav-menu-sub div {
  width: 100%;
}

.nav-menu-sub-link { 
  /*nav-menu-sub-link*/
  display: block;
  width: 100%;
  padding: .3em .8em;
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
}

/*For styling icons, etc. eventually. temporary!*/
.header-actions div {
  /*background: red;*/
}