.index-text, .index-article {
  display: flex;
  flex-direction: column;
}

.index-text {
  padding: 6px;
  width: 80%;
}

.index-text div:nth-child(even), .index-article div:nth-child(even) {
  margin-top: 1em;
}

.index-article {
  color: #BBB;
  font-size: 12px;
  margin: 4px 0 20px 0;
}

.index-article div:not(:first-child) {
  margin-top: 1em;
}