.popular-intro {
  border: 1px solid #222;
  color: #BBB;
  display: flex;
  font-size: 12px;
  margin: 4px 0 20px 0;
  padding: 4px 0;
}

.popular-intro-img {
  padding: 6px;
  align-items: center;
  font-size: 64px;
  font-family: 'menlo', Consolas, monospace;
  font-weight: 100;
  color: white;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popular-list-item {
  background: #222;
  border: 1px solid #222;
  display: inline-block;
  box-sizing: border-box;

  font-family: 'menlo', Consolas, monospace;
  margin: 0 0px 20px 0px;
  position: relative;
  z-index: 0;
}

.popular-large {
  width: 500px;
  height: 300px;
}

.popular-med-wide {
  width: 500px;
  height: 133px;
}

.popular-med {
  width: 240px;
  height: 133px;
}

.popular-small {
  width: 500px;
  height: 45px;
}

.popular-small * {
  display: inline-block;
}

.popular-overlay {
  display: block;
  opacity: 0.1;
  /*position: absolute;*/
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  z-index: 2;
  transition: .2s;
}

.popular-list-item:hover .popular-link{
  color: #F6F7EE;
}

.popular-large:hover .popular-overlay{
  opacity: 0.25;
  transition: .2s;
}

.popular-link {
  color: #BBB;
  display: block;
  font-size: 18px;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.popular-snippet-title {
  font-weight: 700;
  padding: 10px 0 0 10px;
}

.popular-snippet-detail {
  font-size: 14px;
  font-weight: 100;
  padding: 0 0 0 10px;
}