.popular-pane {
  background: black;
  display: block;
  width: 500px;
  float: right; /*change to flex*/
  padding: 20px 0 20px 0;
}

.popular-pane ul {
  list-style: none;
}

.popular-header {
  color: #BBB;
  font-family: 'Futura';
  font-size: 12px;
  text-transform: uppercase;
  margin: 4px 0;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popular-list-item {
  background: #222;
  border: 1px solid #222;
  display: inline-block;
  box-sizing: border-box;
  width: 240px;
  height: 133px;
  float: left;
  clear: none;
  font-family: monaco, Consolas, monospace;
  margin: 0 0px 20px 0px;
  position: relative;
  z-index: 0;
}

.popular-overlay {
  display: block;
  opacity: 0.1;
  /*position: absolute;*/
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  z-index: 2;
  transition: .2s;
}

.popular-list-item:hover .popular-link{
  color: #F6F7EE;
}

/*.popular-list-item:hover .popular-overlay{
  opacity: 0.25;
  transition: .2s;
}*/


.popular-link {
  color: #BBB;
  display: block;
  font-size: 18px;
  text-decoration: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.popular-snippet-title {
  font-weight: 700;
  padding: 10px 0 0 10px;
}

.popular-snippet-detail {
  font-size: 14px;
  font-weight: 100;
  padding: 0 0 0 10px;
}