.annotation-header {
  background: #39382F;
  color: white;
  font-family: 'menlo', Consolas, monospace;
  font-size: 20px;
  margin: 147px 0 10px 0;
  padding: 0 4px;
  width: 352px;
}

.annotation-header-edit {
  background: rgba(255, 255, 100, 0.5);
  color: white;
  font-family: 'menlo', Consolas, monospace;
  font-size: 20px;
  margin: 147px 0 49px 0;
  padding: 0 4px;
  width: 352px;
}

.annotation-body {
  margin-top: 20px;
}



