/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, nav, a, ul, li, pre, code,
img, div, p, fieldset, label, input, textarea, span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  box-sizing: inherit;
  color: inherit;
  display: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  box-sizing: border-box;
  color: #F6F7EE;
  font-family: "Open Sans", Arial, sans-serif;
  display: flex;
  align-items: center;
  background: black;
  text-decoration: none;
}

html, body, #root, .app {
  height: 100%;
  width: 100%;
}

.nav-link, .body-link, .show-link, .index-article a {
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  border-right: 1px solid rgba(0,0,0,0);
  display: inline-block;
  color: #99a7ee;
  transition: .1s;
  white-space: nowrap;
}

label {
  display: none;
}

textarea {
  resize: none;
}

@mixin scrollbars($size, $foreground-color, $background-color: transparent) {
  ::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
  }

  ::-webkit-scrollbar-corner {
    background: $background-color;
  }

  ::-webkit-resizer {
    background-color: #666;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@include scrollbars(.5em, #39382F);

button:focus, select {
  outline: 0 !important;
}

::selection {
  background: #909090;
}

.link-box {
  resize: none;
}

.link-box:hover > * {
  background: #39382F;
  border-right: 1px solid #F6F7EE;
  color: #F6F7EE;
  cursor: pointer;
}

.app {
  display: block;
  background: linear-gradient(#0d0e0c, black);
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}

ul {
  list-style: none;
}

pre, .word-wrap {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
  user-drag: none;
}

.index {
  color: #BBB;
  width: 100%;

}

.col-left-pane {
  flex: 0 0 500px;
  margin: 20px 10px 20px 0px;
}

.col-right-pane {
  flex: 0 0 500px;
  margin: 20px 0px 20px 10px;
}

.header-small {
  color: #BBB;
  font-family: 'Futura';
  font-size: 12px;
  text-transform: uppercase;
  margin: 6px 0;
}

.header-large {
  color: white;
  font-family: 'Futura-CondensedMedium';
  font-size: 30px;
  margin: 6px 0;
}

.body-link {
  font-size: 12px;
}

.yellow {
  color: #FFFF64;
}

.button-row {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
  width: 30%;
}

.square-button {
  -moz-transition: .15s;
  -webkit-transition: .15s;
  transition: .15s;
  background: 0 0;
  border: 2px solid #BBB;
  box-sizing: border-box;
  color: #BBB;
  cursor: pointer;
  display: inline-block;
  font-family: 'Futura';
  font-size: inherit;
  line-height: inherit;
  text-align: center;
  padding: .25em .5em;
  vertical-align: top;
}

.square-button:not(:last-child) {
  margin: 0 .5em 0 0;
}

.square-button:hover {
  background: rgba(97, 96, 87, 0.3);
  /*color: #F6F7EE;*/
}

.square-button:active {
  background: rgba(97, 96, 87, 0.75);
}

.btn-small {
  font-size: 12px;
}

.btn-submit {
  border: 2px solid #0ecb27;
  color: #0ecb27;
}

.btn-submit:hover {
  background: rgba(14,203,39,0.3);
}

.btn-submit:active {
  background: rgba(14,203,39,0.5);
}

.btn-delete {
  border: none;
}

.btn-delete:hover {
  background: rgba(225,20,20,0.3);
  color: rgb(255,20,20);
}

.btn-delete:active {
  background: rgba(225,20,20,0.5);
  color: rgb(255,20,20);
}

.btn-noborder {
  border: none;
}

@keyframes fade-in {
  0% { 
    opacity: 0; 
  }
  100% { 
    opacity: 1; 
  }
}

@-webkit-keyframes fade-in {
  0% { 
    opacity: 0; 
  }
  100% { 
    opacity: 1; 
  }
}