.header {
  background: black;
  box-sizing: border-box;
  width: 100%;
}

.header div, .header nav {
  display: flex;
  align-items: center;
}

.header-primary {  
  background: #1D1E19;
  height: 50px;
  padding: 0 10px;

  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.header-link {
  display: block;
  padding: 10px 20px;
}

.header-searchbar {
  width: 20%;
}

.header-logo {
  margin: 0 auto;
  position: relative;
  height: 100%;
  width: 202px;
  z-index: 1;
}

.header-logo-link {
  display: flex;
  align-items: center;  
  height: 100%;
}

.header-actions {
  width: 20%;
  /*flex-direction: row;*/
  justify-content: flex-end;
}

.header-actions div {
  background: red;
}

.header-nav {
  height: 34px;
  padding: 0 30%;

  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.nav-link-box {
  display: block;
  height: 75%;
  vertical-align: middle;
  padding-top: 3px;
}

.nav-link {
  color: #99a7ee;
  display: inline-block;
  font-size: 14px;
  padding: 2px 3px 1px 3px;
  text-transform: uppercase;
  transition: .1s;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  border-right: 1px solid black;
}

.nav-link-box:hover .nav-link {
  color: #F6F7EE;
  background-color: #39382F;
  border-right: 1px solid #F6F7EE;
}
