// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
/*  animation: hide-bg 1s ease;
  -webkit-animation: hide-bg 1s ease;*/
}

.bgvid {
  position: fixed; 
  top: 0; 
  left: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto; 
  z-index: -100;
  background-size: cover;
  background-image: url("/assets/bgvideo-frame.png");
  overflow: hidden;
}

.login-form-container {
  z-index: 2;
  min-height: 400px;
  min-width: 580px;
  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.4);

  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-logo {
  margin: 60px;
}

.login-form-button:first-child {
  margin-top: 60px;
}

.login-form-button:last-child {
  /*margin-bottom: 60px;*/
}

.login-form-element {
  color: #BBB;
  flex-direction: row;
  font-family: 'menlo', Consolas, monospace;
}

.login-form-input {
  background-color: transparent;
  color: white;
  outline: none;
  width: 8em;
}

.login-button {
  width: 5em;
}

#btn-1 {
  margin-top: 60px;
}

#btn-2 {
  margin-top: 6px;
  margin-bottom: 60px;
}

#var {
  color: #66D9EF;
  font-style: italic;
}

#equals {
  color: #F92672;
}



